.big-contact-info p{
	font-size:2em;
	margin-bottom: 25px;
}
.big-contact-info a{
	color: #000;
	font-weight: 600;
}
.small-contact-info {
	font-size: 1.2 5em;
	font-weight: 600;
	color: #000;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
}
.small-contact-info a{
	color: #000;
	font-weight: 600;
}