body {
  background-color: #fed300;
  font-family: 'Open Sans', sans-serif;
}
.content-col {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  padding:15px;
  font-size: 1.2em;
  line-height: 1.5em;
}
p {
  color: #000;
  font-family: 'Open Sans', sans-serif;
}
.list {
  color: #000;
  font-family: 'Open Sans', sans-serif;
}
h2 {
  color: #fff;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}
h3 {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
}
.nav>li>a:focus, .nav>li>a:hover{
  background-color: #000;
  color: #fff;
}
.left-col-custom {
}
.right-col-custom {
}
.outline {
  border: 1px solid #000;
}
.big-name{
  font-family: 'Open Sans', sans-serif;
  font-size: 4.5em;
  color: #000;
  text-transform: uppercase;
  background-color: transparent;
  position: relative;
}
.big-name a {
  color: #000;
  text-decoration: none;
}
.big-name a:hover {
  color: #3C91F4;
}
.big-name p {
  font-family: 'Open Sans', sans-serif;
  background-color: #fed300;
}
.small-name{
  font-family: 'Open Sans', sans-serif;
  font-size: 2.4em;
  color: #000;
  text-transform: uppercase;
  background-color: #fed300;
  position: inherit;
  left: 0;
  right: 0;
  padding-top: 30px;
}
.small-name p {
  font-family: 'Open Sans', sans-serif;
  background-color: #fed300;
}
.small-name a {
  color: #000;
  text-decoration: none;
}
.small-name a:hover {
  color: #3C91F4;
}
.name-padding{
  padding-left: 15px;
}
.center-words {
  margin:0;
  color: #fff;
  font-size: 4em;
}
.center-words-container {
  justify-content: center;
  align-items: center;
  display: flex;
}
.center-content-container {
  justify-content: center;
  padding-top:30px;
  margin-top: 30%;
  align-items: center;
  display: flex;
  position: relative;
}
.no-pad-left {
  padding-left: 0;
}
.no-pad-right {
  padding-right: 0;
}
.top-cushion {
  padding-top: 1.5em;
  background-color: #fed300;
}
.navbar {
  background-color: #fed300 !important;
}
.nav li a {
  color: #000;
  font-size: 1.5em;
  margin: 0;
}
.nav li a:hover {
 color: #3C91F4;
 background-color: transparent;
}
.nav li a:focus {
  color: #3C91F4;
}
.nav li a:hover i{
 color: #3C91F4;
 background-color: transparent;
}
.nav li a:focus i{
 color: #3C91F4;
 background-color: transparent;
}
.nav .active a {
 background-color: #000;
 color: #fff;
}
.nav li.active a:hover {
 background-color: #000;
 color: #3C91F4;
}
#port li.active a:hover {
 background-color: transparent;
 color: #3C91F4;
}
.nav li.active i {
  color:#fff;
}
.mobile-nav-margin {
  margin-top: 82px;
}
.shade-yellow {
  width: auto;
  height: 50px;
  background-color: #e7c000;
}
.portfolio-list {
  text-align: left;
  list-style-type: none;
  font-size: .9em;
}
.portfolio-list li {
  padding-top: 12px;
  padding-bottom: 12px;
}
.portfolio-list .list-active a{
  background-color: transparent;
  color: #fff;
}
.center {
  justify-content: center;
    align-items: center;
    display: flex;
    margin: 40px;
}
.justified {
  text-align: justify;
  padding: 0 20px 0 20px;
  line-height: 1.75em;
  font-size: 1.25em;
  color: #000;
}
.fixed {
  position: fixed;
}
.bottom-buff {
  border-bottom: 15px solid #fed300;
}
.break-line {
  width: 260px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  margin-bottom: 100px;
  border-bottom: solid 4px #000;
}
.fa {
  color: #000;
}
.bold {
  font-weight: 700;
}
a:hover {
  text-decoration: none;
}
.portfolio-nav {
  display:flex;
  color: #000;
  font-weight: 700;
  font-size: 1em;
  padding-top: 5px;
  padding-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #fed300;
}
.pnav-left {
  padding: 5px 20px;
  border-right: #000 solid 2px;
}
.pnav-center {
  padding: 5px 20px;
}
.pnav-right {
  padding: 5px 20px;
  border-left: #000 solid 2px;
}
.pnav-active {
  font-size: 1em;
  color: #fff;
}
.portfolio-nav a {
  color: #000;
}
.portfolio-nav a:hover {
  color: #3C91F4;
  background-color: transparent;
}
.portfolio-nav .pnav-active a{
  color: #fff;
  border-color: transparent;
}
.portfolio-nav .pnav-active a:hover{
  color: #3C91F4;
  border-color: transparent;
}
.zoom {
  -webkit-transition:all 0.35s ease-in-out;
  -moz-transition:all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.zoom:hover,
.zoom:focus,
.zoom:active {
  -ms-transform:scale(1.5);
  -moz-transform:scale(1.5);
  -webkit-transform:scale(1.5);
  -o-transform:scale(1.5);
  transform:scale(1.5);
  position: relative;
  z-index: 100;
}
.footer {
  margin-top:200px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 1em;
  color: #000;

}

/* Media Queries */
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {
.justified {
  padding-left: 50px;
  padding-right: 50px;
}
.big-name{
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  color: #000;
  text-transform: uppercase;
  background-color: transparent;
  position: relative;
}
}

@media only screen and (max-width: 768px) {
.no-pad-xs {
  padding-left: 0;
  padding-right: 0;
}
.shade-yellow {
  width: auto;
  height: 50px;
  background-color: #e7c000;
}
.mobile-nav {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #fed300;
}
.mobile-nav a {
  color: #000;
  font-size: 1.5em;
  margin: 0;
  width: 100%;
}
.mobile-nav :hover {
 color: #3C91F4;
 background-color: transparent;
}
.mobile-nav.active {
 background-color: #000;
}
.mobile-nav.active i {
  color:#fff;
}
.mobile-push {
  margin-top: 200px;
}
.portfolio-nav {
  font-size: .8em;
  margin-top: 15px;
  padding-bottom: 5px
}
.portfolio-push {
  margin-top: 300px;
}
.mobile-img-pad {
  padding-top: 25px;
}
.center-words {
  margin:0;
  color: #fff;
  font-size: 3em;
}
h3 {
    padding-left: 10px;
}
}

@media only screen and (max-width: 480px) {
.justified {
  padding-left: 25px;
  padding-right: 25px;
}
.zoom:hover,
.zoom:focus,
.zoom:active {
  -ms-transform:scale(1);
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  transform:scale(1);
  position: relative;
  z-index: 100;
}
}

@media only screen and (max-width: 320px) {

}